:root {
    --font-family: "OCR A Std", monospace;
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 800;
    --bg-color: rgb(0, 0, 0);
    --primary-color: lightblue;
    --secondary-color: rgb(230, 186, 173);
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #43271b;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

  
html {
    scroll-behavior: smooth;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: var(--primary-color);
}
  
a:hover {
    color: var(--secondary-color);
}
  
body {
    font-family: var(--font-family);
}


.logo{
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}


nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover{
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul{
    display: flex;
    gap: 1.9rem;
    font-weight: var(--bold-font);
}

#sidebar{
    color: var(--primary-color);
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.aboutmetext{
    background-color: lightblue;
    color: white;
    padding-top: 150px;
    margin: 0;
    font-size: 100px;
    animation: colorchange 12s ease infinite;
    
    
}

.aboutmepara{
    background-color: lightblue;
    color: white;
    padding: 50px;
    font-size: 50px;
}


#welcome{
    color: white;
    font-size: 169px;
    padding-top: 300px;
    padding-bottom: 300px;
    background: linear-gradient(-45deg, red, orange, #23a6d5, blue);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes colorchange{
    0% { color: red; }
    25% { color: orange; }
    50% {color: blue;}
    75% {color: orange;}
    100% { color: red;}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.html_js_css{
    height: 200px;
    width: 350px;

}
.python{
    height: 200px;
    width: 200px;

}
.java{
    height: 200px;
    width: 130px;

}
.affinity{
    height: 200px;
    width: 250px;

}
.unity{
    height: 200px;
    width: 210px;

}
.inventor{
    height: 200px;
    width: 190px;

}

.sketchup{
    height: 200px;
    width: 300px;
}


#skills {
    margin: 0;
    text-align: center;
    background-color: lightblue;
}
  
.skillsheader{
    color: white;
    padding-top: 50px;
    margin:0;
    font-size: 100px;
    padding-bottom: 50px;
    animation: colorchange 12s ease infinite;
}


  
.allskills img {
    padding: 1rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
    transition: transform .2s;
}
.icon-card:hover{
    transform: scale(1.25);
}

#experience{
    margin: 0;
    background-color: lightblue;
    color: white;
}

.expcard{
    border: 0;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 50px;
    max-width: 300px;
    transition: transform .2s;

}
.expcard:hover{
    transform: scale(1.25);
}

.expheader{
    font-size: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: colorchange 12s ease infinite;
}

.allexp{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#projects{
    margin: 0;
    background-color: lightblue;
    color: white;
}



.projheader{
    font-size: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: colorchange 12s ease infinite;
}

.allprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.socialpics{
    width: 50px;
    height: 50px;
}
.socialpics2{
    width: 100px;
    height: 50px;
}
.allcontacts{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contactme{
    margin: 0;
    background-color: lightblue;
    color: white;
}

.contactheader{
    font-size: 85px;
    padding-top: 100px;
    animation: colorchange 12s ease infinite;
}



@media screen and (max-width: 1100px) {
    nav {
        padding: 1.5rem 1rem;
    }
    nav ul {
        position: fixed;
        background: black;
        flex-direction: column;
        top: 98px;
        left: 10%;
        width: 50%;
        text-align: center;
        transform: translateX(190%);
    }
    
    nav ul li {
        margin: 8px;
    }
    #sidebar{
        display: block;
    }
    
    nav ul.show{
        transform: translateX(80%);
        transition: transform 1.2s;
    }

    .aboutmetext{
        font-size: 50px;
    }

    .aboutmepara{
        font-size: 24px;
    }

    .skillsheader{
        font-size: 50px;
    }

    .html_js_css{
        height: 100px;
        width: 175px;
    }
    .python{
        height: 100px;
        width: 100px;
    }
    .java{
        height: 100px;
        width: 65px;
    }
    .affinity{
        height: 100px;
        width: 125px;
    }
    .unity{
        height: 100px;
        width: 105px;
    }
    .inventor{
        height: 100px;
        width: 95px;
    }
    
    .sketchup{
        height: 100px;
        width: 150px;
    }

    .expheader{
        font-size: 50px;
    }

    .expcard{
        border: 0;
        border-radius: 11px;
        box-shadow: 0 3px 10px var(--secondary-shadow);
        max-width: 300px;
    
    }
    .allexp{
        flex-direction: column;
    }

    .projheader{
        font-size: 50px;
    }

    .allprojects{
        flex-direction: column;
    }

    #welcome{
        font-size: 60px;
    }

    .contactheader{
        font-size: 40px;
    }
    .allcontacts{
        flex-direction: column; 
    }


}

